.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 950px;
}
.group_slides{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    gap: 25px;

}
.wrapper-slide{     
    display: flex;
    position: relative;
    overflow: hidden;
    height: 390px;
    width: 25%;
    cursor: pointer;
    border-radius: 15px;
}
.group_text{
    display: flex;
    font-size: 15px;
    color: rgb(255, 255, 255) ;
    position:absolute;
    flex-direction: column;
    padding-left: 10px;
}

.some_photo{
    width: 100%;
    border-radius: 15px;
}
.content{
    font-weight: 300;
}
.text{
    padding-top: 230px;
    font-weight: 400;
    font-size: 25px;
    transition: opacity 0.4s ease-out;

}
.pod-blokom{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.7s ease-out;
    opacity: 0;
    backdrop-filter: blur(20px);
    overflow: hidden;
    width: 100%;
    height: 60%;
}
.text_pod{    
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.wrapper-slide:hover .pod-blokom{
    transform: translateY(9%);
    opacity: 1;
}
.wrapper-slide:hover .text{
    opacity:0;
}




