.application-container {
  display: flex;
  width: 100%;
  background-color: #323232;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form {
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.заявка {
  color: white;
  width: 300px;
  margin-top: -20px;
}
.заявка2{
  display: flex;
  color: #ffffff;
  position: relative;
  padding-bottom: 20px;
}
.email-input{
  width: 300px;
}
.application-phone {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: solid white 3px;
  color: white;
  font-size: 20px;
  width: 295px;
}
.application-select {
  color: black;
  text-align: start;
  font-size: 18px;
  width: 300px;
}
.application-description {
  font-size: 20px;
  color: rgb(174, 8, 185);
  max-height: 200px;  
}
.application-submit {
  color: black;
  border-radius: 12px;
  width: 300px;
  font-size: 13px;
  background-color: rgb(181, 52, 52);
  height: 40px;
}

.enable {
  background-color: rgb(58, 131, 58);
}
.enable:hover {
  color: white;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff;
}

.textarea-input {
  width: 300px;
}
