.container{
    width: 100%;
    background-color: rgb(132, 132, 132);
    height: 950px;
}
.group_slides{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    gap: 25px;

}
.wrapper-slide{     
    display: flex;
    position: relative;
    overflow: hidden;
    height: 390px;
    width: 26%;
    cursor: pointer;
}
.group_text{
    display: flex;
    font-size: 15px;
    color: rgb(255, 255, 255) ;
    position:absolute;
    flex-direction: column;
    pointer-events: none;
    padding-left: 10px;
    z-index: 1;
}

.some_photo{
    width: 100%;
    border-radius: 15px;
}
.content{
    font-weight: 300;
}
.text{
    padding-top: 230px;
    font-weight: 400;
    font-size: 25px;
    transition: opacity 0.2s ease-in;

}
.pod-blokom{
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    transform: translateY(100%);
    transition: all 0.7s ease-in, opacity 0.5s ;;
    border-radius: 15px;
    opacity: 0;
    backdrop-filter: blur(40px);
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper-slide:hover .pod-blokom{
    border-radius: 15px;
    transform: translateY(10%);
    opacity: 1;
    width: 100%;
    height: 60%;
}
.wrapper-slide:hover .text{
    opacity:0;
}




