<say-hi-message></say-hi-message>
<div class="back">
  <h1 class="glav_text">Skillbox incorporated</h1>
  <h2 class="neglav_text">
    Мы предоставляем курсы по кибербезопасности, и обучению как не отдать
    злоумышленникам дом на рублевке как это сделала Долина если у вас таковой
    имеется
  </h2>
  <video
   #backgroundVideo
   playsinline
    preload="auto"
    loop 
    autoplay
    
    muted
    class="video-bg">
   <source src="assets/img/around_world.mp4" type="video/mp4">
  </video>
  <div class="back-fon"></div>
  <div class="wrapper-container">
    <div class="wrapper-inner">
      <div class="card">
        <h1 class="otziv">Более 1000</h1>
        <div class="text_card">положительных отзывов</div>
      </div>
      <div class="card">
        <h1 class="otziv">Более 5</h1>
        <div class="text_card">лет на рынке</div>
      </div>
      <div class="card">
        <h1 class="otziv">Свыше 10000</h1>
        <div class="text_card">покупок курса</div>
      </div>
    </div>
  </div>
</div>


<skill-slide></skill-slide>
<!-- <sliders></sliders> -->
<!-- <div class="application-container">
  <div class="application-inner">
    <h1 class="application_recomindation">
      Не оставайся в дураках и отправляй свою заявку на обучение
      кибербезопасности, после ты сможешь взламывать аккаунты бедолаг
    </h1>
  </div> -->
  <div class="app-lication">
    <button mat-flat-button (click)="Application()"  class="application-button">
      Заявка
    </button>
  </div>

