<!-- <div class="container">
    <div class="ineer">
        <h1>content</h1>
    </div>
</div>
<div class="sliders">
    <div class="group">
        <img class="slide-1" src="assets/img/porshe.png "alt="">
        <img class="slide-2" src="assets/img/shef.jpg "alt="">
        <img class="slide-3" src="assets/img/porshe.jpg "alt="">
        <img class="slide-4" src="assets/img/audi.jpg "alt="">
        <img class="slide-5" src="assets/img/lamba.webp "alt="">
    </div>
     <div class="group">
        <img class="slide-1" src="assets/img/porshe.png "alt="">
        <img class="slide-2" src="assets/img/shef.jpg "alt="">
        <img class="slide-3" src="assets/img/porshe.jpg "alt="">
        <img class="slide-4" src="assets/img/audi.jpg "alt="">
        <img class="slide-5" src="assets/img/lamba.webp "alt="">
    </div>
</div> -->
