<div class="container">
    <div class="ineer">
        <h1>content</h1>
    </div>
</div>
<div class="sliders">
    <div class="group">
        <div class="slide-1">1 'ltvtyn </div>
        <div class="slide-2">222'ltvtyn</div>
        <div class="slide-3">3331 'ltvtyn</div>
        <div class="slide-4">44 ltvtyn</div>
        <div class="slide-5">5555 'ltvtyn</div>
    </div>
     <div class="group">
        <div class="slide-1">1 'ltvtyn </div>
        <div class="slide-2">222'ltvtyn</div>
        <div class="slide-3">3331 'ltvtyn</div>
        <div class="slide-4">44 ltvtyn</div>
        <div class="slide-5">5555 'ltvtyn</div>
    </div>
</div>
