// .container{
//     background-color: rgb(87, 87, 87);
//     display: flex;
//     height: 900px;
// }
// .ineer{
//     font-size: 30px;
//     color: blue;
//     margin-top: 100px;

// }
// .sliders{
//     display: flex;
//     overflow: hidden;
//     scroll-snap-type:x mandatory;
//     scrollbar-width:none;
// }
// .group{
//     display: flex;
//     animation: spin 17s infinite linear;
//     gap:1em;
//     margin-top: 10px;
//     padding-left:1em;
// }
// .slide-1,
// .slide-2,
// .slide-3,
// .slide-4,
// .slide-5{
//     height: 50vh;
//     min-width: 60vw;
//     scroll-snap-align: start;
//     flex-shrink: 0;
//     object-fit: cover;

// }


// @keyframes spin {
//     from{translate:0}
//     to {translate:-100%;}

// }
