<div class="modal-application">
  <form class="second_form" [formGroup]="form">
    <mat-form-field class="modal-input" >
      <mat-label>say my name</mat-label>
      <input  matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="form-option">
      <mat-select required formControlName="optionCar" placeholder="Option cars">
        <mat-option *ngFor="let car of object.keys(allModels)" [value]="car">{{
          car}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-option">
      <mat-select formControlName="optionModel" placeholder="Option models">
        <mat-option
          *ngFor="let models of availableModels"
          [value]="models"
          >{{ models }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
      [disabled]="form.invalid"
      class="modal-button-appliction"
      (click)="onSubmit()"
    >
      submit
    </button>
  </form>
</div>
