.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

}
.header_inner {
  justify-content: end;
  display: flex;
  backdrop-filter: blur(3px);
  height: 70px;
  position: relative; 
  justify-content: center;
  align-items: center;
}
.nav_link {
  font-family: "Monaco", sans-serif;
  color: #fecd0a;
  margin-right: 70px;
  text-decoration: none;
}
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
.nav_link:hover {
  color: #00ffff;
  font-size: 13.5px;
}
.old-span {
  height: 2px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  background-color:rgb(255, 255, 255);
}
.new-span{
  height: 2px;
  width: 100px;
  bottom: 0px;
  position: absolute;
  background: linear-gradient(90deg, transparent, #ff0000);
  animation: animate 2s infinite linear;
  }
@keyframes animate {
  0% {
    left: 0;
    transform: translate(-100%);
  }
  100% {
    left: 100%;
    transform: translate(0%);
  }
}
