<header class="header" id="header">
  <div class="header_inner">
    <span class="old-span"></span>
    <span class="new-span"></span>
    <nav class="nav" id="nav">
      <a class="nav_link" [routerLink]="['/home']" routerLinkActive="active"
        >skillBox
      </a>
      <a class="nav_link" [routerLink]="['/mustang']" routerLinkActive="active"
        >Mustang</a
      >
      <a class="nav_link" [routerLink]="['/lays']" routerLinkActive="active"
        >Lays</a
      >
      <a
        class="nav_link"
        [routerLink]="['/validator']"
        routerLinkActive="active"
        >Проекты</a
      >
      <a
        class="nav_link"
        [routerLink]="['/validator']"
        routerLinkActive="active"
        >Команда</a
      >
      <a
        class="nav_link"
        [routerLink]="['/validator']"
        routerLinkActive="active"
        >Контакты</a
      >
    </nav>
  </div>
</header>
