.car-galerei {
  display: flex;
  height: 100%;
  background-color: rgb(46, 46, 46);
  align-items: center;
  flex-direction: column;
  color: #00ffcc;
  font-family: monospace;
  padding-top: 100px;
}

.h1{
  font-size: 2rem;
  border-right: 2px solid #00ffcc;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.car-container {
  display: flex;
  gap: 10px;
  padding-top: 60px;
}

.carca-galere {
  margin: 50px 0;
  width: 100px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}
.carca-galere:hover {
  width: 125px;
}
.carca-galere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.carca-galere.active {
  width: 850px;
}
.car-foru {
  color: white;
  font-size: 35px;
  font-weight: 400;
  margin-top: 100px;
}
.car-application {
  background-color: black;
  justify-content: center;
  display: flex;
  height: 500px;
}
.button-mustang {
  border-radius: 5px;
  width: 33%;
  height: 100px;
  margin-top: 50px;
}


.video-baxa-ix{
  display: flex;
  align-items: center;
  height: 100vh;
  background: #2f2f2f; 
  justify-content: space-between;
}
.video-container{
  display: flex;
  position: relative;
  width: 600px; 
  height:600px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
}
.video-wrapper{
  width: 100%; 
  height: 100%;
}
.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

