<div class="application-container">
  <h2 class="заявка">Оставьте заявку</h2>
  <span class="заявка2"> мы свяжемся с вами в течение 5 минут </span>
  <form class="form" [formGroup]="form">
    <div class="input-application">
      <mat-form-field
        appearance="outline"
        class="email-input"
      >
        <mat-label>email</mat-label>
        <input 
          matInput
          placeholder="Placeholder"
          required
          formControlName="email"
        />
      </mat-form-field>
    </div>
    <div class="input-application">
      <input
        class="application-phone"
        formControlName="phone"
        required
        [mask]="phoneMask"
      />
    </div>
    <div class="input-application">
      <mat-form-field class="application-select">
        <mat-label>деятельность</mat-label>
        <mat-select
          [(ngModel)]="kazual"
          formControlName="dev"
        >
          <mat-option value="front">frontend</mat-option>
          <mat-option value="backend">backend</mat-option>
          <mat-option value="AI">AI developer</mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
    <div class="input-application">
      <mat-form-field class="textarea-input">
        <mat-label class="application-description">only for fun </mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <section>
      <div>
        <button
          [class.enable]="form.valid"
          [disabled]="form.invalid"
          class="application-submit"
          mat-stroked-button
          (click)="Submit()"
        >
          {{ kazual === "front" ? "казуал" : "отправить заявку" }}
        </button>
      </div>
    </section>
  </form>
</div>
