<say-hi-message></say-hi-message>
<div class="back">
  <h1 class="glav_text">Skillbox incorporated</h1>
  <h2 class="neglav_text">
    Мы предоставляем курсы по кибербезопасности, и обучению как не отдать
    злоумышленникам дом на рублевке как это сделала Долина если у вас таковой
    имеется
  </h2>
  <video
   #backgroundVideo
   playsinline
    preload="auto"
    loop 
    autoplay
    muted
    class="video-bg">
   <source src="assets/img/around_world.mp4" type="video/mp4">
  </video>
  <div class="back-fon"></div>
  <div class="wrapper-container">
    <div class="wrapper-inner">
      <div class="card">
        <h1 class="otziv">Более 1000</h1>
        <div class="text_card">положительных отзывов</div>
      </div>
      <div class="card">
        <h1 class="otziv">Более 5</h1>
        <div class="text_card">лет на рынке</div>
      </div>
      <div class="card">
        <h1 class="otziv">Свыше 10000</h1>
        <div class="text_card">покупок курса</div>
      </div>
    </div>
  </div>
</div>

<div class="container-advantages">
  <div class="text-group">
    <div class="advantage-card">
      <img class="advantage-img" src="/assets/img/portfolio.jpg" alt="">
      <h2>Практический Опыт и Портфолио</h2>
      <p>По завершении курса у вас будет не просто сертификат, 
        а реальный проект или даже несколько проектов,
        которые не стыдно показать потенциальному работодателю.
      </p>
    </div>
    
    <div class="advantage-card">
      <img class="advantage-img" src="/assets/img/level-up.jpg" alt="">
      <h2>Прямой Путь к Карьере</h2>
      <p>Наши курсы — это самый быстрый и целенаправленный способ получить актуальные,
        востребованные навыки, которые работодатели ищут прямо сейчас.
      </p>
    </div>

    <div class="advantage-card">
      <img class="advantage-img" src="/assets/img/brain.jpg" alt="">
      <h2>Систематизированные Знания от Практиков</h2>
      <p>Вы получаете не разрозненные уроки из интернета,
        а структурированную программу, разработанную опытными IT-специалистами.
      </p>
    </div>

    <div class="advantage-card">
      <img class="advantage-img" src="/assets/img/todocheck.jpg" alt="">
      <h2>Поддержка и Проверка Знаний</h2>
      <p>Вы не останетесь один на один со сложным кодом.
        Вы получаете регулярную обратную связь от наставников,
        проверку домашних заданий и помощь в решении проблем.
      </p>
    </div>
  </div>
</div>



<skill-slide></skill-slide>
<!-- <sliders></sliders> -->
<!-- <div class="application-container">
  <div class="application-inner">
    <h1 class="application_recomindation">
      Не оставайся в дураках и отправляй свою заявку на обучение
      кибербезопасности, после ты сможешь взламывать аккаунты бедолаг
    </h1>
  </div> -->
<!-- Добавьте эту секцию в нужное место вашего шаблона -->
  

<div class="app-lication">
    <button mat-button (click)="ModalApl()"class="application-button">
      Заявка
    </button>
  </div>

